
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;


}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 25px;
}
a{
    text-decoration: none;
    color: #555;
}
p{color: #555;

}
.container{
    background-image:black ;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
     min-width: 300px; 
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

 }
 .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
 }
 .button{
         display: inline-block;
         background: #ff523b;
         color: #fff;
         padding: 8px 30px;
         margin: 30px 0;
         border-radius: 30px;
         transition: background 0.5s;
 }
 .button:hover{
    background: #563434;

 }
 .header{
    background: radial-gradient(#ffffff,#f555);

 }
 .header .row{
    margin-top: 70px;
 }


 .categories{
    margin: 70px 0;

 }
 .col-3{
    flex-basis: 30%;
    min-height: 250px;
    margin-bottom: 30px;
 }
 .col-3 img{
    width: 100%;
 }

 .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

 }

 .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    
 }
 .col-4 img{
            width: 100%;
 }

 .title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
 }

 .title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

 }

.col-4 img:hover{
   box-shadow: 1vh 1vh salmon ease;
      transform: scale(1.1);
      
 }
 

 li :hover {
   text-decoration: underline;
   color: white;
 }

 marquee{
   font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 5vh;
 }

.cart{
   display: inline-block;
   text-decoration: underline;
   
 }
 h4{
     color: #555;
     font-weight: normal;
 }
 .col-4 p{
         font-size:14px;

 }

 .rating .fa{
   color: #ff523b;
 }


 .offer{
   background: radial-gradient(#fff,#ffd6d6);
   margin-top: 80px;
   padding: 30px 0;
 }

 /* <!------footer------> */
 .footer {
       background-color: #000;
       color: #8a8a8a;
       font-size: 14px;
       padding: 60px 0 20px;

 }

 .footer p{
          color: #8a8a8a;
 }
  .footer h3{
       color: #fff;
       margin-bottom: 20px;
  }

  .footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4 {
          min-width: 250px;
          margin-bottom: 20px;

  }
  .footer-col-1{
   flex-basis: 30%;
  }
  .footer-col-2 {
   flex: 1;
   text-align: center;
  }
  .footer-col-2 img{
   width: 180px;
   margin-bottom: 20px;
  }